<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
    <div>
        <div class='center'>
            <div class='title'>This is the fake reviews project</div>
            <p>
                Check whether online reviews are genuine or fake based on cues hidden in text
            </p>
            <p>
                This looks like magic, doesn't it? Here is 
                <a href="https://medium.com/@enrico.alemani/fake-reviews-detection-and-transfer-learning-fdaa91bde2c6">the geek stuff</a>
                </p>
            <div class='content'>
                <div class='no-display'>
                    <!-- <input id='file-input' class='no-display' type='text' name='text' accept='image/*'
                        onchange='showPicked(this)'> -->
                </div>
                <textarea id="reviewText" name="firstname" rows="15" cols="60" wrap="soft" style="overflow:hidden; resize:none;text-align: left;">Paste your review here
                </textarea>
                <!-- <form class='choose-file-button' type='text'>
                    <input id="reviewText" type="text" name="firstname" value="Paste your review here">
                </form> -->
                <!-- <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div> 
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div> -->
                <div class='analyze'>
                    <button id='analyze-button' class='analyze-button' type='button'
                        onclick='analyze()'>Analyze</button>
                </div>
                <div class='result-label'>
                    <label id='result-label'></label>
                </div>
                <div class='result-label'>
                    <label id='result-prob-fake'></label>
                </div>
                <div class='result-label'>
                    <label id='result-prob-genuine'></label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>